body
{
}

a
{
	color: #3865C6;
}
a:hover
{
	color: #0489B7;
}

h1, h2, h3, h4, h5, h6
{
	text-shadow: 4px 4px 10px #aaa;
}

/* Header */

header
{
	height: 95px;
	padding: 0;
	margin: 15px 0;
}

header a.logo
{
	background: transparent url(/Content/Images/title.png) no-repeat scroll 0 0;
	background: transparent url(/Content/Images/banner.gif) no-repeat scroll 0 20px;
	text-indent: -1700em;
	height: 90px;
}

header nav ul li
{
	color: #C16932;
}

header nav ul li a
{
	color: #C16932;
}

/* Introductions */

.intro
{
	background: #C1C1C1;
	border: 1px solid #D0D0D0;
}

.intro h1
{
	color: #C16932;
}
.intro p
{
}

.post-line .revised
{
	background: #DB7739;
}

.post-line .revised .month
{
}

.content h1, .content h2
{
	border-bottom: 1px solid #3865C6;
}
.comment
{
	border-bottom: 1px solid #3865C6;
}

pre
{
	background: #E0EAF1;
	border: 1px dotted #7F9FB6;
}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6
{
	border:0px;
	color: #C16932;
}

.entry-date
{
	background: #DB7739;
}

.entry-tools
{
	background: #C1C1C1;
}

.message 
{
		color: #CC0000;
}

span.tags 
{
    display: block;
    padding-top:10px;
    padding-bottom: 20px;
}
a.tag 
{
    background: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    color: #3E6D8E;
    font-size: 10pt;
    padding: 2px 4px;
    margin-right: 3px;
    text-decoration: none;
}
a.tag:hover 
{
    background: #7F9FB6;
    color: #fff;
}
