body
{
    font-size: 10pt;
    font-family: Segoe UI;
    color: #111;
    max-width: none;
    background: #ddd5b1 url(../images/header.png) repeat-x;
}

.body
{
    background: #f4f2e5;
}
.body .intro p 
{
    font-weight: normal;
}
p 
{
    line-height: 150%;
    margin-bottom: 20px;
}
.body .content 
{
    padding: 10px 30px;
    margin: 0;
}
.content h1
{
    border-bottom: 1px dotted #32A700;
    text-indent: 0;
    margin-top: 15px;
    margin-bottom: 20px;
}
.content h1 a 
{
    color: #32A700;
    font-size: 30pt;
    font-weight: normal;
    padding-left: 0;
    margin-left: 0;
}
.content h1 
{
    color: #32A700;
    font-size: 30pt;   
    font-weight: normal;
}

.entry-container 
{
    margin-left: 0px;
}
.entry-date 
{
    float: none;
    text-align: right;
    width: auto;
    padding: 0;
    background: none;
    color: #777;
    margin-top: -40px;
    font-family: Arial;
    font-weight: normal;
}
.entry-date span.month 
{
    font-size: 12pt;
    font-weight: normal;
}
.entry-date span.year 
{
    font-size: 12pt;
    font-weight: normal;
}
a
{
	color: #3865C6;
}
a:hover
{
	color: #0489B7;
}

h1, h2, h3, h4, h5, h6
{
	color: #32A700;
}

/* Header */

header .search 
{
    display: none;
}
header 
{
    text-align: center;
    width: 960px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
}
header a.logo
{
    padding: 0;
    height: 60px;
    text-align: left;
    text-shadow: black 0px 1px 1px;
    text-indent: 0;
    font-size: 20pt;
    color: #fff;
    width: 300px;
    margin-top: 15px;
    font-weight: bold;
}
header nav 
{
    margin-top: 15px;
    width:650px;
}
.body .intro 
{
    border: none;
    background: #ded6b2;
    margin: 0;
    float: none;
    width: auto;
    border-radius: 0;
    border-bottom: 2px solid #cac29e;
}
.intro-in 
{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
header nav ul li
{
    font-family: Segoe UI;
	color: #32A700;
	margin-left: 10px;
	font-weight: bold;
    text-shadow: rgba(255, 255, 255, 0.398438) 0px 1px 1px;
}

header nav ul li a
{
	color: white;
    margin: 0;
    padding: 3px 10px;
    text-decoration: none;
}

header nav ul li a:hover
{
	color: #ffa302;
    text-decoration: underline;
}

/* Introductions */

.intro h1
{
	color: #32A700;
}
.intro h2 
{
    font-size: 20pt;
    margin-top: 0;
    padding-top: 0;
    text-shadow: white 0px 1px 1px;
}

.post-list 
{
    width: auto;
    float: none;
}
.body 
{
    min-height: 700px;
}
.body .content 
{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    min-height: 700px;
}
.post-line 
{
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 0;
    height: auto;
    min-height: 0;
    float: none;
    background: #eee9cc;
}

.post-line .revised, .post-line .comments
{
	color: #888;
    -moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	margin: 0;
	float: right;
	padding: 14px;
	background: transparent;
	margin-left: 7px;
	color: #999;
	font-weight: normal;
	height: auto;
	vertical-align: middle;
}
.post-line p 
{
    color: #000;
}
.post-line .comments a 
{
	color: #999;
}
.post-line .comments span 
{
}
.post-line .summary 
{
	background: transparent;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    margin-right: 222px;
}

.comment
{
	border-bottom: 1px solid #CCCCCC;
	font-size: 12pt;
}
.comment .comment-body 
{
    font-size: 12pt;
}

pre
{
	background: #E0EAF1;
	border: none;
}
.entry h2 
{
    font-size: 20pt;
}
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6
{
	border: 0px;
	color: #32A700;
}

.entry-tools
{
	background: #FFFFC6;
}

.message 
{
	color: #CC0000;
}
.flash 
{
    background: #FCFFCE;
    border: 1px solid #F9DD24;
}
.flash p 
{
    color: #A57100;
    font-weight: bold;
    text-align: center;
    margin: 5px 10px 5px 10px; 
    padding: 0;
}
.empty 
{
    color: #555;
    margin: 20px 0 20px 0;
}
.comment .comment-author 
{
    float: right;
    background: #f0f0f0;
    width: 120px;
    text-align: center;
    margin-top: -10px;
}
.comment .comment-author a
{
    padding: 5px;
}
.comment 
{
    background: #fafafa;
    margin-bottom: 30px;
    border-left: 20px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.comment .comment-body 
{
    margin: 0;
    padding: 0 20px 0 20px;
    margin-right: 130px;
}

.comment .comment-body .comment-date
{
    float: none;
    margin: 0;
    padding: 0;
    color: #999;
    font-weight: normal;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

footer 
{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #cac29e;
    margin: 0;
}
footer, footer a 
{
    color: #777463;
}

h2, h3, h4, h5, h6 
{
    margin-top: 40px;
    font-weight: normal;
}
.entry-tools 
{
    background: #fafafa;
    font-weight: normal;
    text-align: right;
    color: #999;
}
.entry-tools a 
{
    color: #999;
}
input, textarea 
{
    background: white;
    font-size: 11pt;
}
input, textarea, input:focus, textarea:focus
{
    background: white;
    font-size: 11pt;
}
.wmd-panel 
{
    padding: 1px;
    padding-left: 3px;
    border: 1px solid #CFCFCF;
}

.entry-tools 
{
    background: none;
}

pre 
{
    background: #eeecdd;
}

.box3, .box2, .box4 
{
    margin-right: 10px;
}
.boxes img
{
    border: 5px solid #cac29e;
}

.boxes h3
{
    margin-top: 5px;
}