html
{
    border-top: 10px solid #93AD8A;
}

body
{
    margin: 20px auto;
    /* background: white url(backgnd.png) repeat-x scroll 0 0; */
}

a
{
    color: #D0A090;
}
a:hover
{
    color: #D0A090;
}

span.tags
{
    display: block;
    margin: 10px 0;
}

a.tag
{
    color: #A08070;
    border: 1px solid #D0A090;
    text-decoration: none;
    padding: 1px 4px;
    width: 60px;
}

a.tag:hover
{
    background-color: #ffe0d0;
}

h1, h2, h3, h4, h5, h6
{
    color: #A08070;
    font-family: "Segoe UI", Sans-Serif; 
    font-weight: normal;
}

h1
{
    font-size: 28pt;
    font-weight: normal;
}
h2
{
    font-size: 18pt;
}
h3
{
    font-size: 16pt;
}
h4
{
    font-size: 14pt;
}
h5
{
    font-size: 12pt;
}

/* Header */

.header
{
    font-size: 14pt;
    height: 80px;
    padding: 0;
    margin: 0 0 20px 0;
    float: left;
    width: 360px;
}
.header a.logo
{
    text-decoration: none;
    display: block;
    background: transparent url(title.png) no-repeat scroll 0 0;
    text-indent: -700em;
    margin-left: 0px;
    height: 80px;
}

.nav
{
    margin: 0 0 10px 0;
    float: right;
    text-align: right;
    max-width: 580px;
}
.nav ul li
{
    font-size: 11pt;
    font-weight: normal;
    color: #A08070;
}

.nav ul li a
{
    color: #A08070;
    text-decoration: none;
}

.content h1
{
    border-bottom: 1px solid #93AD8A;
}

/* Introductions */

.intro
{
    border-left: 1px solid #93AD8A;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    
    padding: 0 0 0 15px;
    margin: 0 0 0 5px;
    margin-top: 70px;
    float: right;
    max-width: 220px;
}
.intro h1
{
    margin: 0 0 10px 0;
    color: #32A700;
    font-size: 14pt;
}
.intro p
{
    margin: 0 0 10px 0;
    font-size: 10pt;
    font-weight: normal;
}

.post-list
{
    width: 700px;
}

.post-line
{
    border: 0 none;
}

.post-line .revised
{
    background: #A08070;
    color: #fff;
    font-family: "Segoe UI", Sans-Serif; 
    font-weight:normal;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.post-line .revised .month
{
}

.post-line .comments 
{
    background: #93AD8A;
    color: #fff;
    font-family: "Segoe UI", Sans-Serif; 
    font-weight:normal;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.post-line .comments a
{
    color: #fff;
}

.post-line .summary
{
    position: relative;
    top: -0.5em;
}

.content h1 a
{
    border: 0px;
    color: #A08070;
}

.comment
{
    border-bottom: 1px solid #ccc;
}

.comment .comment-author
{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

pre
{
    background: #FFFCF4;
    border: 1px dotted #D0A090;
    /* 
    SUPER nasty IE8 hack to deal with this bug 
    */ 
    max-height: none\9  
}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6
{
    border: 0px;
    color: #A08070;
}

.entry-date
{
    background: #A08070;
    color: #fff;
    font-family: "Segoe UI", Sans-Serif; 
    font-weight:normal;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.entry-date .year
{
    font-size: 14pt;
}

.entry-tools
{
    font-family: "Segoe UI", Sans-Serif;
    font-weight: normal;
    background: #FFE0D0;
    color: #000;
}

.entry-tools a 
{
    color: #333;
    text-decoration: none;
}

.message
{
    color: #CC0000;
}
