/***************************************************************************/
/*      This contains all colour settings for the Jake's Metro theme       */
/***************************************************************************/

body
{
    background-color: #ffffff;
    color: #000000;
}

body .content
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
}

body .top
{
    border-bottom: 1px solid #1B9FE1;
    background: #000000;
}

a
{
    color: #000000;
}
a:hover
{
    color: #1B9FE1;
}

/* Tags Base Colours */
.tags a
{
	color:#000000;
    background-color: #adadad;
}
.tags a:before
{
	border-color:transparent #adadad transparent transparent;    
}
.tags a:after
{
	background:#fff;
}
a.tag:hover { background-color: #555; }
a.tag:hover:before { border-color:transparent #555 transparent transparent; }

h1, h2, h3, h4, h5, h6
{
    color: #1B9FE1;    
}

.header
{
    color: #ffffff;
    background-color:#000000;
    background-image:url('/get/MeSmall.jpg');
    background-repeat:no-repeat;
    background-position:right top;
}

.nav
{
    background-color:#000000;
}

/* Search Box */
div.nav div.search
{
    background: url("appbar.feature.search.rest.png") no-repeat scroll right center #000000;
    border: 1px solid #CFCFCF;
}

div.nav div.search input
{
    color: #CFCFCF;
    background-color:#000000;
}

/* Content Page */
.nav ul li
{
    color: #1B9FE1;
}

.nav ul li a
{
    color: #1B9FE1;
}

.content h1
{
    border-bottom: 1px solid #1B9FE1;
}

/* Introduction */

.intro
{
    display: none; /* By default this theme hides the introduction */
}

.intro h1
{
    color: #1B9FE1;
}

.intro a
{
    color: #ffffff;
}

.intro a:hover
{
    color: #1B9FE1;
}

.intro code
{
    color: #1B9FE1;
}

/*Default Post Line Colours */
.post-line:hover
{
    background-color: #D9E0E2;
}

.post-line .revised
{
    color: #000000;
}

.post-line .comments 
{
    background: #000000;
    color: #fff;
}

.post-line .comments .comment-count
{
    background: #000000;
    color: #ffffff;
}

.post-line .comments .comment-count a {
    font-size: 15px;
    font-weight: 900;
    vertical-align: 1px;
}

.post-line .summary-container
{
    border-left: 5px solid #000000;
}

.post-line .comments a
{
    color: #fff;
}

.content h1 a
{
    color: #000000;
}

.comment
{
    border-bottom: 1px solid #ccc;
}

pre
{
    background: #f5f9fa;
}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6
{
    color: #1B9FE1;
}

.entry-date
{
    background: #1B9FE1;
    color: #fff;
}

.entry-tools
{
    background: #1B9FE1;
    color: #ffffff;
}

.entry-tools a 
{
    color: #fff;
}

.message
{
    color: #CC0000;
}

/* keyword colours */


/*open source*/
.keyword-open-source .summary-container
{
    border-left: 5px solid #1B9FE1;
}

.keyword-open-source .comments .comment-count
{
    background: #1B9FE1;
}

a.keyword-open-source:hover{ color:#ffffff; background-color: #1B9FE1; }
a.keyword-open-source:hover:before{border-color:transparent #1B9FE1 transparent transparent;}

.keyword-open-source .entry-date
{
    background-color: #1B9FE1;    
}

/*.net*/
.keyword--net .summary-container { border-left: 5px solid #E51400; }
.keyword--net .comments .comment-count { background: #E51400; }
a.keyword--net:hover { color:#ffffff; background-color: #E51400; }
a.keyword--net:hover:before{border-color:transparent #E51400 transparent transparent;}
.keyword--net .entry-date { background-color: #E51400; }

/*c#*/
.keyword-c- .summary-container { border-left: 5px solid #A05000; }
.keyword-c- .comments .comment-count { background: #A05000; }
a.keyword-c-:hover { color:#ffffff; background-color: #A05000; }
a.keyword-c-:hover:before{border-color:transparent #A05000 transparent transparent;}
.keyword-c- .entry-date { background-color: #A05000; }

/*powershell*/
.keyword-powershell .summary-container { border-left: 5px solid #E671B8; }
.keyword-powershell .comments .comment-count { background: #E671B8; }
a.keyword-powershell:hover { color:#ffffff; background-color: #E671B8; }
a.keyword-powershell:hover:before{border-color:transparent #E671B8 transparent transparent;}
.keyword-powershell .entry-date { background-color: #E671B8; }

/*patterns and practices*/
.keyword-patterns-and-practices .summary-container { border-left: 5px solid #8CBF26; }
.keyword-patterns-and-practices .comments .comment-count { background: #8CBF26; }
a.keyword-patterns-and-practices:hover { color:#ffffff; background-color: #8CBF26; }
a.keyword-patterns-and-practices:hover:before{border-color:transparent #8CBF26 transparent transparent;}
.keyword-patterns-and-practices .entry-date { background-color: #8CBF26; }

/*wpf*/
.keyword-wpf .summary-container { border-left: 5px solid #F09609; }
.keyword-wpf .comments .comment-count { background: #F09609; }
a.keyword-wpf:hover { color:#ffffff; background-color: #F09609; }
a.keyword-wpf:hover:before{border-color:transparent #F09609 transparent transparent;}
.keyword-wpf .entry-date { background-color: #F09609; }

/*wp7*/
.keyword-wp7 .summary-container { border-left: 5px solid #00ABA9; }
.keyword-wp7 .comments .comment-count { background: #00ABA9; }
a.keyword-wp7:hover { color:#ffffff; background-color: #00ABA9; }
a.keyword-wp7:hover:before{border-color:transparent #00ABA9 transparent transparent;}
.keyword-wp7 .entry-date { background-color: #00ABA9; }

/*vsto*/
.keyword-vsto .summary-container { border-left: 5px solid #339933; }
.keyword-vsto .comments .comment-count { background: #339933; }
a.keyword-vsto:hover { color:#ffffff; background-color: #339933; }
a.keyword-vsto:hover:before{border-color:transparent #339933 transparent transparent;}
.keyword-vsto .entry-date { background-color: #339933; }

/*presenting*/
.keyword-presenting .summary-container { border-left: 5px solid #A200FF; }
.keyword-presenting .comments .comment-count { background: #A200FF; }
a.keyword-presenting:hover { color:#ffffff; background-color: #A200FF; }
a.keyword-presenting:hover:before{border-color:transparent #A200FF transparent transparent;}
.keyword-presenting .entry-date { background-color: #A200FF; }

/*open-source*/
.keyword-open-source .summary-container { border-left: 5px solid #1B9FE1; }
.keyword-open-source .comments .comment-count { background: #1B9FE1; }
a.keyword-open-source:hover { color:#ffffff; background-color: #1B9FE1; }
a.keyword-open-source:hover{ color:#ffffff; background-color: #1B9FE1; }
a.keyword-open-source:hover:before{border-color:transparent #1B9FE1 transparent transparent;}
.keyword-open-source .entry-date { background-color: #1B9FE1; }