html,body {
   margin:0;
   padding:0;
   border:0;
}

body
{
    width:100%;
    max-width:100%;
    background-color: #ffffff;
    color: #000000;
}

.wrap
{   
}

.body
{
    margin: 0 auto;   
    max-width: 950px;
}

body .content
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 10px;
}

body .top
{
    margin: 0 auto;
    background: #000000;
    border-bottom: 1px solid #1B9FE1;
}

.top-in
{
    width: 950px;
    margin:0px auto;
}

body .footer
{
    margin: 0 auto;
    max-width: 950px;
}

a
{
    color: #000000;
}
a:hover
{
    color: #1B9FE1;
}

.tags
{
    display: block;
    display: block;
    padding: 5px 5px 10px 0px;
    margin: 0;
    list-style: none;
    clear: both;
    height: 24px;
}

.tags li
{
}

.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
	}

.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	color:#000000;
    background-color: #adadad;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
	} 
.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #adadad transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
	}
	
.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	}

a.tag:hover { background-color: #555; }
a.tag:hover:before { border-color:transparent #555 transparent transparent; }

h1, h2, h3, h4, h5, h6
{
    color: #1B9FE1;
    font-family: "Segoe UI", Sans-Serif; 
    font-weight: normal;
}

h1
{
    font-size: 28pt;
    font-weight: normal;
    margin:0px;
}
h2
{
    font-size: 18pt;
}
h3
{
    font-size: 16pt;
}
h4
{
    font-size: 14pt;
}
h5
{
    font-size: 12pt;
}

/* Header */

.header
{
    width: 100%;
    font-size: 30pt;
    height:100px;
    background-color:#000000;
    background-image:url('/get/MeSmall.jpg');
    background-repeat:no-repeat;
    background-position:right top;  
    padding:0px;
}
.header a.logo
{
    margin: 5px;
    margin-top: 22px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    height:auto;
}

.header a.logo:hover
{
    color: #ffffff;
    text-decoration: none;
}

.nav
{
    background-color:#000000;
    height:40px;
    margin: 0 auto;
    clear:both;
    float:none;
    font-family: "Segoe UI", Sans-Serif; 
    max-width: 100%;
}

div.nav div.search
{
    margin-top:10px;
    margin-right: 8px;
    clear: none; 
    float:right;
    background: url("appbar.feature.search.rest.png") no-repeat scroll right center #000000;
    border: 1px solid #CFCFCF;
    padding:0px;
}

div.nav div.search input
{
    color: #CFCFCF;
    background-color:#000000;
    margin-right: 40px;
    border:none;
}

#search
{
    display:none;   
}

.nav ul
{
    float: none;
}

.nav ul li
{
    font-size: 12pt;
    font-weight: bold;
    color: #1B9FE1;
}

.nav ul li a
{
    color: #1B9FE1;
    text-decoration: none;
}

.content h1
{
    border-bottom: 1px solid #1B9FE1;
}

/* Introductions */

.intro
{
    display: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 20px;
    margin: 0;
    float: none;
    width:auto;
}
.intro h1
{
    margin: 0 0 10px 0;
    color: #32A700;
    font-size: 14pt;
}
.intro p
{
    margin: 0;
    font-size: 10pt;
    font-weight: normal;
}

.intro a
{
    color: #ffffff;
}

.intro a:hover
{
    color: #1B9FE1;
}

.intro code
{
    color: #1B9FE1;
}

.post-list
{
    float: none;
    width:auto;
}

.post-line
{
    border: 0px none;
    padding: 0px;
    margin: 7px;
}

.post-line:hover
{
    background-color: #D9E0E2;
}

.post-line .revised
{
    color: #000000;
    font-family: "Segoe UI", Sans-Serif; 
    font-weight:normal;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.post-line .revised .month
{
    display:inline;
}
.post-line .revised .year
{
    display:inline;
}

.post-line .comments 
{
    background: #000000;
    color: #fff;
    font-family: "Segoe UI", Sans-Serif; 
    font-weight:normal;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    float: right;
    height:auto;
    width:auto;
    padding:0;
    margin:0;
}

.post-line .comments .comment-count
{
    background: #000000;
    color: #fff;
    display:inline;
    margin:-1px 0px 0px ;
    padding: 0px 10px;
}

.post-line .comments span
{
    vertical-align:middle;
    margin:0px;
    margin-right:5px;
}

.post-line .comments a
{
    color: #fff;
}

.post-line .summary-container
{
    border-left: 5px solid #000000;
    padding-left: 15px;
    margin-left:102px;
}    

.post-line .summary
{
    margin-left:0;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    display:block;    
    z-index:0;
}

.post-line .summary h2
{
    width: auto;
}

.content h1 a
{
    border: 0px;
    color: #000000;
}

.comment
{
    border-bottom: 1px solid #ccc;
}

.comment .comment-author
{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.facebook iframe
{
    height: 40px;
}

pre
{
    background: #f5f9fa;
    /* 
    SUPER nasty IE8 hack to deal with this bug 
    */ 
    max-height: none\9  
}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6
{
    border: 0px;
    color: #1B9FE1;
}

.entry-date
{
    background: #1B9FE1;
    color: #fff;
    font-family: "Segoe UI", Sans-Serif; 
    font-weight:normal;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.entry-date .year
{
    font-size: 14pt;
}

.entry-tools
{
    font-family: "Segoe UI", Sans-Serif;
    font-weight: normal;
    background: #1B9FE1;
    color: #ffffff;
    margin-top: 20px;
}

.entry-tools a 
{
    color: #fff;
    text-decoration: underline;
}

.message
{
    color: #CC0000;
}


/* keyword colours */


/*open source*/
.keyword-open-source .summary-container
{
    border-left: 5px solid #1B9FE1;
}

.keyword-open-source .comments .comment-count
{
    background: #1B9FE1;
}

a.keyword-open-source:hover{ color:#ffffff; background-color: #1B9FE1; }
a.keyword-open-source:hover:before{border-color:transparent #1B9FE1 transparent transparent;}

.keyword-open-source .entry-date
{
    background-color: #1B9FE1;    
}

/*.net*/
.keyword--net .summary-container { border-left: 5px solid #E51400; }
.keyword--net .comments .comment-count { background: #E51400; }
a.keyword--net:hover { color:#ffffff; background-color: #E51400; }
a.keyword--net:hover:before{border-color:transparent #E51400 transparent transparent;}
.keyword--net .entry-date { background-color: #E51400; }

/*c#*/
.keyword-c- .summary-container { border-left: 5px solid #A05000; }
.keyword-c- .comments .comment-count { background: #A05000; }
a.keyword-c-:hover { color:#ffffff; background-color: #A05000; }
a.keyword-c-:hover:before{border-color:transparent #A05000 transparent transparent;}
.keyword-c- .entry-date { background-color: #A05000; }

/*powershell*/
.keyword-powershell .summary-container { border-left: 5px solid #E671B8; }
.keyword-powershell .comments .comment-count { background: #E671B8; }
a.keyword-powershell:hover { color:#ffffff; background-color: #E671B8; }
a.keyword-powershell:hover:before{border-color:transparent #E671B8 transparent transparent;}
.keyword-powershell .entry-date { background-color: #E671B8; }

/*patterns and practices*/
.keyword-patterns-and-practices .summary-container { border-left: 5px solid #8CBF26; }
.keyword-patterns-and-practices .comments .comment-count { background: #8CBF26; }
a.keyword-patterns-and-practices:hover { color:#ffffff; background-color: #8CBF26; }
a.keyword-patterns-and-practices:hover:before{border-color:transparent #8CBF26 transparent transparent;}
.keyword-patterns-and-practices .entry-date { background-color: #8CBF26; }

/*wpf*/
.keyword-wpf .summary-container { border-left: 5px solid #F09609; }
.keyword-wpf .comments .comment-count { background: #F09609; }
a.keyword-wpf:hover { color:#ffffff; background-color: #F09609; }
a.keyword-wpf:hover:before{border-color:transparent #F09609 transparent transparent;}
.keyword-wpf .entry-date { background-color: #F09609; }

/*wp7*/
.keyword-wp7 .summary-container { border-left: 5px solid #00ABA9; }
.keyword-wp7 .comments .comment-count { background: #00ABA9; }
a.keyword-wp7:hover { color:#ffffff; background-color: #00ABA9; }
a.keyword-wp7:hover:before{border-color:transparent #00ABA9 transparent transparent;}
.keyword-wp7 .entry-date { background-color: #00ABA9; }

/*vsto*/
.keyword-vsto .summary-container { border-left: 5px solid #339933; }
.keyword-vsto .comments .comment-count { background: #339933; }
a.keyword-vsto:hover { color:#ffffff; background-color: #339933; }
a.keyword-vsto:hover:before{border-color:transparent #339933 transparent transparent;}
.keyword-vsto .entry-date { background-color: #339933; }

/*presenting*/
.keyword-presenting .summary-container { border-left: 5px solid #A200FF; }
.keyword-presenting .comments .comment-count { background: #A200FF; }
a.keyword-presenting:hover { color:#ffffff; background-color: #A200FF; }
a.keyword-presenting:hover:before{border-color:transparent #A200FF transparent transparent;}
.keyword-presenting .entry-date { background-color: #A200FF; }

/*open-source*/
.keyword-open-source .summary-container { border-left: 5px solid #1B9FE1; }
.keyword-open-source .comments .comment-count { background: #1B9FE1; }
a.keyword-open-source:hover { color:#ffffff; background-color: #1B9FE1; }
a.keyword-open-source:hover{ color:#ffffff; background-color: #1B9FE1; }
a.keyword-open-source:hover:before{border-color:transparent #1B9FE1 transparent transparent;}
.keyword-open-source .entry-date { background-color: #1B9FE1; }