@import url("Colours.css");

html,body 
{
   margin:0;
   padding:0;
   border:0;
}

body
{
    width:100%;
    max-width:100%;
}

.wrap
{   
}

.body
{
    margin: 0 auto;   
    max-width: 950px;
}

body .content
{
    padding: 10px;
}

body .top
{
    margin: 0 auto;
}

.top-in
{
    width: 950px;
    margin:0px auto;
}

body .footer
{
    margin: 0 auto;
    max-width: 950px;
}

.tags
{
    display: block;
    display: block;
    padding: 5px 5px 10px 0px;
    margin: 0;
    list-style: none;
    clear: both;
    height: 24px;
}

.tags li
{
}

.tags li, .tags a
{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
	}

.tags a
{
	margin-left:20px;
	padding:0 10px 0 12px;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
} 
.tags a:before
{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-style:solid;
	border-width:12px 12px 12px 0;		
}
	
.tags a:after
{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Segoe WP Semibold", "Segoe UI", Sans-Serif; 
    font-weight: normal;
}

h1
{
    font-size: 24pt;
    font-weight: normal;
    margin:0px;
}
h2 { font-size: 16pt;}
h3 { font-size: 14pt;}
h4 { font-size: 12pt;}
h5 { font-size: 10pt;}
h6 { font-size: 18pt;}

.entry h1 
{
    font-size: 24pt;
    font-weight: normal;
    margin:0px;
}
.entry h2 { font-size: 18pt;}
.entry h3 { font-size: 16pt;}
.entry h4 { font-size: 14pt;}
.entry h5 { font-size: 12pt;}
.entry h6 { font-size: 10pt;}


/* Header */

.header
{
    width: 100%;
    font-size: 30pt;
    height:100px;
    padding:0px;
}
.header a.logo
{
    margin: 5px;
    margin-top: 22px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    height:auto;
}

.header a.logo:hover
{
    color: #ffffff;
    text-decoration: none;
}

.nav
{
    height:40px;
    margin: 0 auto;
    clear:both;
    float:none;
    font-family: "Segoe WP Semibold", "Segoe UI", Sans-Serif; 
    max-width: 100%;
}

div.nav div.search
{
    margin-top:10px;
    margin-right: 8px;
    clear: none; 
    float:right;
    padding:0px;
}

div.nav div.search input
{
    margin-right: 40px;
    border:none;
}

#search
{
    display:none;   
}

.nav ul
{
    float: none;
}

.nav ul li
{
    font-size: 12pt;
    font-weight: bold;
}

.nav ul li a
{
    text-decoration: none;
}

.content h1
{
    text-transform: lowercase;
}

/* Introductions */

.intro
{
    display: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 20px;
    margin: 0;
    float: none;
    width:auto;
}
.intro h1
{
    margin: 0 0 10px 0;
    font-size: 14pt;
}
.intro p
{
    margin: 0;
    font-size: 10pt;
    font-weight: normal;
}

.post-list
{
    float: none;
    width:auto;
}

.post-line
{
    border: 0px none;
    padding: 0px;
    margin: 7px;
}

.post-line .revised
{
    font-family: "Segoe WP Semibold", "Segoe UI", Sans-Serif; 
    font-weight:normal;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.post-line .revised .month
{
    display:inline;
    font-size: 18px;
}
.post-line .revised .year
{
    display:inline;
    font-size: 18px;
}

.post-line .comments 
{
    font-family: "Segoe WP Semibold", "Segoe UI", Sans-Serif; 
    font-weight:normal;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    float: right;
    height:auto;
    width:auto;
    padding:0;
    margin:0;
}

.post-line .comments .comment-count
{
    display:inline;
    margin:-1px 0px 0px ;
    padding: 0px 10px;
}

.post-line .comments span
{
    vertical-align:middle;
    margin:0px;
    margin-right:5px;
}

.post-line .summary-container
{
    padding-left: 15px;
    margin-left:102px;
}    

.post-line .summary
{
    margin-left:0;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    display:block;    
    z-index:0;
}

.post-line .summary h2
{
    width: auto;
}

.comment .comment-author
{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.facebook iframe
{
    height: 40px;
}

pre
{
    /* 
    SUPER nasty IE8 hack to deal with this bug 
    */ 
    max-height: none\9  
}

.entry-date
{
    font-family: "Segoe WP Semibold", "Segoe UI", Sans-Serif; 
    font-weight:normal;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.entry-date .year
{
    font-size: 14pt;
}

.hidechrome
{
    margin-left: 0px;
}

.entry-tools
{
    font-family: "Segoe WP Semibold", "Segoe UI", Sans-Serif;
    font-weight: normal;
    margin-top: 20px;
}

.entry-tools a 
{
    text-decoration: underline;
}

