@model IEnumerable<Comment>

@if (!Model.Any() && !Html.Settings().EnableDisqusCommenting)
{
	<div class="empty">
		<p>
			No comments yet. Be the first!
		</p>
	</div>
}
else
{
	<ol class="commentlist">
        @foreach (var comment in Model) //.Where(x => !x.IsSpam)
        {
            @Html.DisplayFor(_ => comment, new { ViewBag.Entry })
        }
	</ol>
}