@model EntrySummary

<article class='post-line blogpost @String.Join(" ", Html.CssKeywordsFor(Model))'>
    @{
        <div class='summary'>
            <article>
                @{ Html.RenderPartial("_EntryHeader", Model); }

                <div class="entry-content post-content">
                    @if (!string.IsNullOrEmpty(Model.MetaDescription))
                    {
                        <p>@Html.RenderTrusted(Model.MetaDescription, Formats.Markdown)</p>
                    }
                </div>

                @{ Html.RenderPartial("_EntryFooter", Model); }
            </article>
        </div>
    }
</article>

