@model FunnelWeb.Repositories.PagedResult<EntrySummary>
@if (!Model.Any())
{
    <p>No posts have been published yet.</p>
    if (ViewData.IsLoggedIn())
    {
    <p>
        Use the @Html.AdminActionLink("New Post", "Edit", "WikiAdmin") link at the top of
        the page to create a post.</p>
    }
}
else
{
    <div class="post-list">
        @foreach (var entry in Model)
        {
            @Html.DisplayFor(x => entry)
        }
    </div>
    <div class="clear">
    </div>
}