@using FunnelWeb.Utilities
@model bool

@if (Model)
{
<div class="facebook">
    <iframe src="http://www.facebook.com/plugins/like.php?href=@Url.Encode(Request.GetOriginalUrl().AbsoluteUri)&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true">
    </iframe>
</div>
}