@model FunnelWeb.Extensions.SqlAuthentication.Model.IndexModel

<h1>Sql Authentication Provider Setup</h1>

@if (!Model.IsUsingSqlAuthentication)
{
  @Html.ActionLink("Enable Sql Authentication", "EnableSqlAuthentication", "SqlAuthentication");
}
else
{ 
  @Html.ActionLink("Disable Sql Authentication", "DisableSqlAuthentication", "SqlAuthentication");
}