/*
Document Level
*/
body, div, span, p, a, img, table, th, tr, td, form, fieldset, legend, dl, dt, dd, blockquote, applet, object
{
	border: 0;
}
body
{
	background: #fff;
	color: #333;
	font: 80% "Segoe UI" , Sans-Serif;
	margin: 20px;
	padding: 0;
	max-width: 950px;
	margin: 0 auto;
}
a
{
}
a:hover
{
}
a.new-window
{
	background: transparent url('/Views/Shared/Images/external.png') no-repeat scroll right center;
	padding: 0 13px 0 0;
}
p
{
	line-height: 130%;
	margin: 15px 0;
}
h1, h2, h3, h4, h5, h6
{
	margin: 15px 0 10px 0;
	font-weight: bold;
	font-family: "Trebuchet MS";
}
h1
{
	font-size: 17pt;
	font-weight: bold;
	margin: 35px 0 10px 0;
}
h2
{
	font-size: 16pt;
}
h3
{
	font-size: 14pt;
}
h4
{
	font-size: 12pt;
}
h5
{
	font-size: 11pt;
}

/* Header */

.header
{
	font-weight: bold;
	font-size: 14pt;
	height: 95px;
	padding: 3px;
	float: left;
	width: 280px;
}
.header a.logo
{
	text-decoration: none;
	display: block;
	text-indent: -700em;
	margin-left: 0px;
	height: 90px;
}

/* Navigation */

.nav
{
	margin-bottom: 10px;
	font-family: "Trebuchet MS";
	float: right;
	text-align: right;
	margin-top: 30px;
	max-width: 620px;
}
.nav ul
{
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}
.nav ul li
{
	font-weight: bold;
	font-size: 12pt;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	margin-right: 0px;
	margin-top: 5px;
}
.nav ul li a
{
	display: block;
	padding: 3px 0px 3px 20px;
	text-align: center;
	text-decoration: underline;
}
.nav ul li a:hover, .nav ul li.active a:hover
{
	text-decoration: underline;
}
div.nav div.search
{
	padding-top: 10px;
	clear: both;
}

/* Introductions */

.intro
{
	padding: 10px 15px;
	margin: 0 15px;
	margin-top: 40px;
	float: right;
	width: 200px;
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-clip: border;
	background-inline-policy: continuous;
	background-origin: padding;
	-webkit-border-radius: 5px;
	-webkit-background-clip: border;
	-webkit-background-inline-policy: continuous;
	-webkit-background-origin: padding;
}
.intro h1
{
	margin: 0;
	font-size: 14pt;
}
.intro p
{
	margin: 10px 0;
	font-size: 10pt;
	font-weight: bold;
}

/* Table of posts */

.post-list
{
	float: left;
	width: 680px;
	margin-bottom: 20px;
}
.post-line
{
	display: block;
	border-bottom: 1px dotted #999;
	color: #777;
	min-height: 70px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.post-line .revised
{
	float: left;
	font-weight: bold;
	color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: "Trebuchet MS" , Sans-Serif;
	height: 50px;
	margin: 5px;
	width: 76px;
	padding: 2px;
	text-align: center;
}
.post-line .revised .month
{
	font-size: 14pt;
}
.post-line .revised .year
{
	font-size: 11pt;
}
.post-line .comments
{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #E4E4E4;
	color: #555;
	width: 76px;
	padding: 2px;
	text-align: center;
	float: left;
	font-family: "Trebuchet MS" , Sans-Serif;
	height: 50px;
	margin: 5px;
	text-align: center;
}
.post-line .comments .comment-count
{
	font-size: 14pt;
	display: block;
}
.post-line .comments a
{
	color: #555;
	text-decoration: none;
}
.post-list .post-line h2
{
	border-bottom: 0;
	margin: 5px 0 2px 0;
	padding: 0;
}
.post-line h2 a
{
	color: #555;
}
.post-line .summary
{
	margin-left: 185px;
}
.post-line p
{
	color: #999;
	margin: 0;
}

/* Content */
.body
{
	clear: both;
}
.content
{
	z-index: 10;
	min-height: 400px;
}
.content h1 a, .content h2 a
{
	text-decoration: none;
}

/* Comments */

.comments
{
	margin-top: 30px;
}
.comments-in
{
}
.comment
{
	padding: 10px 0;
	margin: 0px 0 0px 0;
}
.comment .comment-date
{
	font-weight: bold;
	float: right;
	margin: 5px;
	margin-top: 0px;
}
.comment .comment-body
{
	font-size: 10pt;
	margin-left: 90px;
	margin-top: 5px;
}
.comment .comment-body p
{
	margin-top: 0px;
	margin-bottom: 17px;
}
.comment .comment-author
{
	float: left;
	background: #E4E4E4;
	width: 76px;
	padding: 2px;
	font-weight: bold;
	color: #555;
	text-align: center;
	margin-top: 00px;
	padding-top: 20px;
	padding-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.comment .comment-author a
{
	color: #555;
}

/* Posting comments */

.form-body
{
	margin-top: 20px;
	max-width: 700px;
}
.form-body .editor-label
{
    float: left;
    font-weight: bold;
    padding-top: 6px;
	display: inline-block;
	width: 120px;
    margin-bottom: 10px;
}
.form-body .editor-field 
{
    margin-left: 140px;
    margin-bottom: 10px;
}
.form-body span.hint
{
	color: #666;
	font-family: Segoe UI;
	display: block;
}
.form-body textarea
{
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: top;
}
.form-body .notification-wait
{
	color: #000;
	font-weight: bold;
}
.form-body h3
{
	margin-top: 30px;
	border-bottom: 1px solid #ccc;
}

/* Tables */

table
{
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
}
thead td, thead td.firstcolumn
{
	background: #e6e8e9;
	font-weight: bold;
}
th
{
	font-weight: bold;
	text-align: center;
}
th, td
{
	padding: 3px 20px 3px 7px;
	border: 1px solid #d1d1d1;
}
td.numeric
{
	text-align: right;
	padding-left: 20px;
}
td.date
{
	text-align: right;
	padding-left: 20px;
}
td.firstcolumn
{
	text-align: left;
	background: #f5f5f5;
}
.table
{
	margin: 15px 0;
}
.table div
{
	padding-top: 5px;
	text-align: left;
	clear: both;
	color: #0489B7;
	font-style: italic;
	font-size: 120%;
}

/* Definitions */

dl
{
	margin: 15px 0;
}
dt
{
	font-weight: bold;
}
dd
{
	margin-left: 30px;
}

/* Input */
input, textarea
{
	font-family: Consolas;
	background: #EAECED;
	border: 1px solid #cfcfcf;
	padding: 4px;
	font-size: 100%;
	width: 100px;
}
textarea
{
	width: 500px;
}
input:focus, textarea:focus
{
	background: #EAECED;
	border: 1px solid #8f8f8f;
	padding: 4px;
	font-size: 100%;
}
input.small
{
	width: 50px;
}
input.medium
{
	width: 200px;
}
input.large
{
	width: 300px;
}
#wmd-preview
{
	background-color: #E0EAF1;
	border: 2px dotted #FFFFFF;
	clear: both;
	margin-top: 14px;
	padding: 3px;
	padding-left: 15px;
	padding-left: 15px;
}

/* vCard */

.vcard
{
	padding: 10px;
	border: 1px solid #d1d1d1;
	background: #e8e9ec;
	width: 400px;
}

.vcard .fn
{
	font-size: 160%;
	font-weight: normal;
	border-bottom: 1px solid #888;
	margin: 0 0 2px 0;
	padding: 0 0 2px 0;
}

.vcard .vcard-in
{
	background: url('/Views/Shared/Images/hCard.png') no-repeat right top;
	padding-left: 90px;
}

.vcard ul, .vcard ul li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.vcard ul span, .vcard ul a
{
	font-weight: bold;
}
.vcard ul label
{
	font-weight: normal;
	width: 60px;
	display: inline-block;
	text-align: left;
}
.entry .vcard img.photo
{
	float: left;
	border: 1px solid #d1d1d1;
	padding: 3px;
	margin: 3px;
	background: #ffffff;
	vertical-align: middle;
}

/* Misc formatting */

abbr, acronym, .help
{
	border-bottom: 1px dotted #CCC;
	cursor: help;
}
blockquote
{
	margin: 15px 20px;
	font-style: italic;
}
del, .del
{
	text-decoration: line-through;
}
strong, .strong
{
	font-weight: bold;
}
cite, em, q, var
{
	font-style: italic;
}
code, kbd, samp, pre
{
	font-size: 11pt;
}
code, kbd, samp
{
	border: 0;
	color: Navy;
	font-family: "Consolas";
}
pre
{
	padding: 7px 12px;
	margin: 10px 0px 10px 0px;
	font-family: Consolas;
	width: auto;
	overflow: auto;
	max-height: 500px;
}
pre code
{
	font-weight: normal;
	font-family: Consolas;
}
.entry h1
{
	font-size: 17pt;
}
.entry h2
{
	font-size: 17pt;
}
.entry h3
{
	font-size: 15pt;
}
.entry h4
{
	font-size: 14pt;
}
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6
{
	border: 0;
}
.entry
{
	font-size: 10pt;
}
.entry img
{
	margin-left: 30px;
}
.entry-date
{
	float: left;
	width: 80px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Trebuchet MS" , Sans-Serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.entry-date .month
{
	font-size: 14pt;
}
.entry-date .year
{
	font-size: 11pt;
}
.entry-tools
{
	color: black;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	color: #555;
}
.entry-container
{
	margin-left: 90px;
}
.entry-tools span
{
	margin: 0px;
	padding: 0px;
}
.entry-tools a, .entry-tools a:active, entry-tools a:visited, .entry-tools a:hover
{
	color: #444;
	margin-right: 10px;
}
.message
{
	font-weight: bold;
}
p.good
{
	color: green;
	font-weight: bold;
}
p.bad
{
	color: #cc0000;
	font-weight: bold;
}
p.warning
{
	color: orange;
	font-weight: bold;
}
p.important
{
	color: black;
	font-weight: bold;
}


li.log-error
{
	color: #cc0000;
	font-weight: bold;
}
li.log-warning
{
	color: orange;
	font-weight: bold;
}
li.log-information
{
	color: black;
	font-weight: bold;
}

/* Trackbacks */

.trackbacks, .trackbacks a
{
	color: #777;
}
.trackbacks h2
{
	font-size: 10pt;
	font-weight: bold;
	border: 0;
	color: #777;
}

/*
    Search
    */

.search-list .search-line
{
	margin: 15px 0 15px 0;
	width: 600px;
}

.search-list .search-line h2
{
	font-size: 10pt;
	text-decoration: underline;
	font-family: Segoe UI;
	border: 0;
	margin: 0;
	padding: 0;
}
.search-list .search-line p
{
	padding: 0;
	margin: 0;
}
.search-list .search-line .revised
{
	color: green;
}
.search-input
{
	color: #999;
	margin-bottom: 20px;
	margin-top: 20px;
}
.search-input label
{
	margin-right: 20px;
}
.search p
{
	margin: 0;
	padding: 0;
}

/* Pagination */

.paginator
{
	border-top: 1px solid #eee;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-top: 10px;
	background: #fafafa;
	padding: 5px 10px 5px 10px;
	color: #999;
	text-align: center;
	clear: both;
}

.paginator .page
{
	margin: 0 3px 0 3px;
}

/* Text length counters */

span.close
{
	color: maroon;
	background: lightpink;
	font-weight: bold;
}
.counter
{
	padding: 3px;
	background: #f0f0f0;
	width: 40px;
	margin-left: 3px;
	text-align: center;
	color: green;
}
/* Footer */

.footer
{
	border-top: 1px solid #f0f0f0;
	clear: both;
	color: #898989;
	line-height: 23px;
	margin: 10px 0 30px 0;
	text-align: center;
}
.footer a
{
	color: #797979;
}
.footer a:hover
{
	color: #3865C6;
}

/* Layout Helpers */

.noscreen
{
	display: none;
}

.clear
{
	clear: both;
}

.validation-summary-errors 
{
    background: #FFEEF2;
    border: 1px solid #CC3954;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.validation-summary-errors span 
{
    font-weight: bold;
    color: #CC3954;
}
.validation-summary-errors ul li 
{
    list-style-type: none;   
}
.field-validation-error 
{
    font-weight: bold;
    color: #CC3954;
    display: block;
}

