<div style="font-style: italic; font-size: 0.9em; padding-top:10px;padding-bottom: 10px;">
    <strong style="font-size:1em;">Disclaimer</strong><br/>
    The opinions expressed on this blog are my own personal opinions and do not represent my employer's view in any way.
</div>