<?xml version="1.0" encoding="utf-8"?>
<funnelweb xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <setting key="funnelweb.configuration.database.connection" value="database=FunnelWeb;server=.\SQLEXPRESS;User Id=sa;Password=test;" />
  <setting key="funnelweb.configuration.database.schema" value="dbo" />
  <setting key="funnelweb.configuration.authentication.username" value="test" />
  <setting key="funnelweb.configuration.authentication.password" value="test" />
  <setting key="funnelweb.configuration.database.provider" value="sql" />
</funnelweb>