<?xml version="1.0"?>
<!--
Welcome to your FunnelWeb configuration. 
Configuring FunnelWeb:

  1. Ensure you have a new SQL Server database ready. FunnelWeb will automatically create the 
     tables, just make sure you have the connection details ready.
  2. Change the username and password in system.web/authentication/forms/credentials/user 
-->
<configuration>
  <configSections>
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="funnelweb.configuration.database.connection" value="database=FunnelWeb;server=(local)\SQLEXPRESS;trusted_connection=true;" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="40320" cookieless="UseCookies" defaultUrl="~/" name="FunnelWeb" slidingExpiration="true">
        <credentials passwordFormat="Clear">
          <!-- Installation: Change the username and password below -->
          <user name="test" password="test" />
        </credentials>
      </forms>
    </authentication>
    
    <customErrors mode="Off" defaultRedirect="/Search" />

    <trust level="Full"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="200000"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="FunnelWeb.Web.Application.Extensions"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="ClientDependency.Core.Mvc"/>
        <add namespace="ClientDependency.Core"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="*.aspx" verb="*" type="System.Web.HttpNotFoundHandler"/>
      <add verb="*" path="pingback" validate="false" type="FunnelWeb.Web.Application.Pingbacks.PingbackHandler, FunnelWeb.Web"/>
      <add verb="*" path="DependencyHandler.axd"  type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core"/>
    </httpHandlers>
    <httpModules>
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web"/>
      <add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web"/>
      <add name="CacheStatic" type="FunnelWeb.Web.Application.CacheStaticFilesHttpModule, FunnelWeb.Web"/>
      <add name="LowercaseUrls" type="FunnelWeb.Web.Application.ForceLowercaseUrlHttpModule, FunnelWeb.Web"/>
      <add name="RequireUpdatedDatabase" type="FunnelWeb.Web.Application.RequireUpdatedDatabaseHttpModule, FunnelWeb.Web"/>
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
    </httpModules>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ClientDependencyModule" />
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
    </modules>
    <handlers>
      <remove name="BlockViewHandler"/>
      <remove name="DependencyHandler"/>
      <add name="BlockViewHandler" path="*.aspx" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      <add name="DependencyHandler" preCondition="integratedMode" verb="*" path="DependencyHandler.axd"  type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core "/>
      <add name="Pingback" verb="*" path="pingback" preCondition="integratedMode" type="FunnelWeb.Web.Application.Pingbacks.PingbackHandler, FunnelWeb.Web"/>
    </handlers>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
  
  <clientDependency version="1"/>
  <system.net>
    <mailSettings>
      <smtp>
        <!-- Installation: Change these settings to receive health notifications -->
        <network host="smtpserver" port="21" userName="you@yourdomain.com" password="yourpassword"/>
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>