<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false" />
  </configSections>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/admin/login" timeout="40320" cookieless="UseCookies" defaultUrl="~/" name="FunnelWeb" slidingExpiration="true" />
    </authentication>
    <roleManager enabled="true" defaultProvider="FunnelWebRoleProvider">
      <providers>
        <clear />
        <add name="FunnelWebRoleProvider" type="FunnelWeb.Web.Application.Authentication.FunnelWebRoleProvider" />
      </providers>
    </roleManager>
    <customErrors mode="Off" defaultRedirect="/search" />
    <trust level="Full" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="200000" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="*.aspx" verb="*" type="System.Web.HttpNotFoundHandler" />
      <add verb="*" path="pingback" validate="false" type="FunnelWeb.Web.Application.Pingbacks.PingbackHandler, FunnelWeb.Web" />
      <add verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
    </httpHandlers>
    <httpModules>
      <add name="CacheStatic" type="FunnelWeb.Web.Application.CacheStaticFilesHttpModule, FunnelWeb.Web" />
      <add name="LowercaseUrls" type="FunnelWeb.Web.Application.ForceLowercaseUrlHttpModule, FunnelWeb.Web" />
      <add name="RequireUpdatedDatabase" type="FunnelWeb.Web.Application.RequireUpdatedDatabaseHttpModule, FunnelWeb.Web" />
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
    </httpModules>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="FunnelWeb.Model" />
        <add namespace="FunnelWeb.Web.Application.Extensions" />
        <add namespace="FunnelWeb.Web.Application.Mvc" />
        <add namespace="ClientDependency.Core.Mvc" />
        <add namespace="ClientDependency.Core" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CacheStatic" type="FunnelWeb.Web.Application.CacheStaticFilesHttpModule, FunnelWeb.Web" />
      <add name="LowercaseUrls" type="FunnelWeb.Web.Application.ForceLowercaseUrlHttpModule, FunnelWeb.Web" />
      <add name="RequireUpdatedDatabase" type="FunnelWeb.Web.Application.RequireUpdatedDatabaseHttpModule, FunnelWeb.Web" />
      <remove name="ClientDependencyModule" />
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
    </modules>
    <handlers>
      <remove name="BlockViewHandler" />
      <add name="BlockViewHandler" path="*.aspx" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      <add name="Pingback" verb="*" path="pingback" preCondition="integratedMode" type="FunnelWeb.Web.Application.Pingbacks.PingbackHandler, FunnelWeb.Web" />
      <remove name="DependencyHandler" />
      <add name="DependencyHandler" preCondition="integratedMode" verb="*" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
    </handlers>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <!-- Installation: Change these settings to receive health notifications -->
        <network host="smtpserver" port="21" userName="you@yourdomain.com" password="yourpassword" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="FunnelWeb.Model" />
        <add namespace="FunnelWeb.Web.Application.Extensions" />
        <add namespace="FunnelWeb.Web.Application.Mvc" />
        <add namespace="ClientDependency.Core.Mvc" />
        <add namespace="ClientDependency.Core" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin/Extensions" />
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.5.724" newVersion="2.4.5.724" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ClientDependency.Core" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.0" newVersion="1.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ClientDependency.Core" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.2.0" newVersion="1.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.3001" newVersion="3.2.0.3001" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <clientDependency version="1">
    <!-- This section is used for Web Forms only, the enableCompositeFiles="true" is optional and by default is set to true -->
    <!-- This section is used for MVC only -->
    <!--
  The composite file section configures the compression/combination/minification of files.
  You can enable/disable minification of either JS/CSS files and you can enable/disable the 
  persistence of composite files. By default, minification and persistence is enabled. Persisting files
  means that the system is going to save the output of the compressed/combined/minified files
  to disk so that on any subsequent request (when output cache expires) that these files don't have
  to be recreated again and will be based on the persisted file on disk. This saves on processing time.
  -->
    <compositeFiles defaultProvider="CompositeFileProcessor" compositeFileHandlerPath="DependencyHandler.axd">
      <!-- 
    Defines the mime types to compress when requested by the client.
    Path is a regex selector, or a * can be used as in place of 'any'.
    Generally mime types are only set by client browsers in the request for things
    such as JSON or XML ajax requests.
    -->
      <!-- 
    Defines the paths to match on to enable rogue file compression.
    Path is a regex selector, or a * can be used as in place of 'any'.
    jsExt and cssExt are comma seperated list of extensions to match to have the dependencies
    replaced with the composite file handler. You can even include ASP.Net web service JS proxies.
    -->
      <rogueFileCompression>
        <add path="*" compressJs="true" compressCss="true" jsExt=".js,asmx/js" cssExt=".css">
          <exclusions>
            <add path="^/get/*" />
            <add path="^.*test.aspx.*" />
          </exclusions>
        </add>
      </rogueFileCompression>
      <providers>
        <add name="CompositeFileProcessor" type="ClientDependency.Core.CompositeFiles.Providers.CompositeFileProcessingProvider, ClientDependency.Core" enableCssMinify="true" enableJsMinify="true" persistFiles="true" compositeFilePath="~/App_Data/ClientDependency" />
      </providers>
      <mimeTypeCompression>
        <add type="application/json" path="^.*?/Services/.*" />
      </mimeTypeCompression>
    </compositeFiles>
    <fileRegistration defaultProvider="LoaderControlProvider">
      <providers>
        <add name="PageHeaderProvider" type="ClientDependency.Core.FileRegistration.Providers.PageHeaderProvider, ClientDependency.Core" enableCompositeFiles="true" />
        <add name="LazyLoadProvider" type="ClientDependency.Core.FileRegistration.Providers.LazyLoadProvider, ClientDependency.Core" enableCompositeFiles="true" />
        <add name="LoaderControlProvider" type="ClientDependency.Core.FileRegistration.Providers.LoaderControlProvider, ClientDependency.Core" enableCompositeFiles="true" />
      </providers>
    </fileRegistration>
    <mvc defaultRenderer="StandardRenderer">
      <renderers>
        <add name="StandardRenderer" type="ClientDependency.Core.FileRegistration.Providers.StandardRenderer, ClientDependency.Core" enableCompositeFiles="true" />
        <add name="LazyLoadRenderer" type="ClientDependency.Core.FileRegistration.Providers.LazyLoadRenderer, ClientDependency.Core" enableCompositeFiles="true" />
      </renderers>
    </mvc>
  </clientDependency>
</configuration>