<?xml version="1.0"?>
<!--
Welcome to your FunnelWeb configuration. 
Configuring FunnelWeb:

  1. Ensure you have a new SQL Server database ready. FunnelWeb will automatically create the 
     tables, just make sure you have the connection details ready.
  2. Set the appSettings/@key['funnelweb.configuration.akismet.url'] value to your blog URL
  3. 
-->
<configuration>
  <configSections>
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="24967;True;564;4;-8589490994125812646"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
    <add key="funnelweb.configuration.sitename" value="true"/>
    <add key="funnelweb.configuration.uploadpath" value="~/files"/>
    <add key="funnelweb.configuration.akismet.apiKey" value="37726b9324fe"/>
    <add key="funnelweb.configuration.akismet.userAgent" value="FunnelWeb/1.0"/>
    <!-- Installation: Change this to your public blog URL -->
    <add key="funnelweb.configuration.akismet.url" value="http://www.MY-SITE-HERE.com"/>
  </appSettings>
  <connectionStrings>
    <add name="funnelweb.configuration.database.connection" connectionString="database=FunnelWeb;server=(local)\SQLEXPRESS;trusted_connection=true;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="40320" cookieless="UseCookies" defaultUrl="~/" name="FunnelWeb" slidingExpiration="true">
        <credentials passwordFormat="Clear">
          <!-- Installation: Change the username and password below -->
          <user name="test" password="test"/>
        </credentials>
      </forms>
    </authentication>
    <trust level="Full"/>
    <customErrors mode="RemoteOnly" defaultRedirect="/Search" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="200000"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="FunnelWeb.Web.Application.Extensions"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="ClientDependency.Core.Mvc"/>
        <add namespace="ClientDependency.Core"/>
      </namespaces>
    </pages>
    <healthMonitoring enabled="false">
      <eventMappings>
        <clear/>
        <add name="All Error Events" startEventCode="0" endEventCode="2147483647" type="System.Web.Management.WebBaseErrorEvent, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add name="All Lifetime Events" startEventCode="0" endEventCode="2147483647" type="System.Web.Management.WebApplicationLifetimeEvent, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add name="Auth Failure Events" startEventCode="0" endEventCode="2147483647" type="System.Web.Management.WebAuthenticationFailureAuditEvent, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add name="EntryNotFound" startEventCode="0" endEventCode="2147483647" type="FunnelWeb.Web.Application.HealthMonitoring.Events.EntryNotFoundEvent, FunnelWeb.Web"/>
        <add name="CommentPosted" startEventCode="0" endEventCode="2147483647" type="FunnelWeb.Web.Application.HealthMonitoring.Events.CommentPostedEvent, FunnelWeb.Web"/>
        <add name="PingbackPosted" startEventCode="0" endEventCode="2147483647" type="FunnelWeb.Web.Application.HealthMonitoring.Events.PingbackPostedEvent, FunnelWeb.Web"/>
      </eventMappings>
      <providers>
        <clear/>
        <!-- Installation: Change these settings to receive health notifications -->
        <add type="FunnelWeb.Web.Application.HealthMonitoring.SimpleMailWithSslWebEventProvider" name="EmailWebEventProvider" from="me@my-website.com" to="health@my-website.com" enableSSL="True"/>
      </providers>
      <rules>
        <clear/>
        <add name="All Errors to Email" eventName="All Error Events" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
        <add name="All Lifetime to Email" eventName="All Lifetime Events" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
        <add name="Auth Failure to Email" eventName="Auth Failure Events" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
        <add name="EntryNotFound to Email" eventName="EntryNotFound" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
        <add name="CommentPosted to Email" eventName="CommentPosted" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
        <add name="PingbackPosted to Email" eventName="PingbackPosted" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
      </rules>
    </healthMonitoring>
    <httpHandlers>
      <add verb="*" path="pingback" validate="false" type="FunnelWeb.Web.Application.Pingbacks.PingbackHandler, FunnelWeb.Web"/>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
      <add verb="*" path="DependencyHandler.axd"  type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core"/>
    </httpHandlers>
    <httpModules>
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web"/>
      <add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web"/>
      <add name="CacheStatic" type="FunnelWeb.Web.Application.CacheStaticFilesHttpModule, FunnelWeb.Web"/>
      <add name="LowercaseUrls" type="FunnelWeb.Web.Application.ForceLowercaseUrlHttpModule, FunnelWeb.Web"/>
      <add name="RequireUpdatedDatabase" type="FunnelWeb.Web.Application.RequireUpdatedDatabaseHttpModule, FunnelWeb.Web"/>
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ClientDependencyModule" />
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core"/>
    </modules>
    <handlers>
      <remove name="MvcHttpHandler"/>
      <remove name="DependencyHandler"/>
      <add name="Pingback" verb="*" path="pingback" preCondition="integratedMode" type="FunnelWeb.Web.Application.Pingbacks.PingbackHandler, FunnelWeb.Web"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
      <add name="DependencyHandler" preCondition="integratedMode" verb="*" path="DependencyHandler.axd"  type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core "/>
    </handlers>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xmlns="">
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <clientDependency version="1"/>
  <system.net>
    <mailSettings>
      <smtp>
        <!-- Installation: Change these settings to receive health notifications -->
        <network host="smtpserver" port="21" userName="you@yourdomain.com" password="yourpassword"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>