body
{
	background: #cdcdcd url(../images/background.png) repeat-x scroll top left;
	font-size: 62.5%;
}

p
{
}

span
{
}

.wrapper
{
	font-size: 1em;
}
/* Header section */
.top
{
}

.top .header
{
}

.top a
{
	color: #1F9DF6;
	text-shadow: 2px 2px 2px #000;
}

.top a:hover
{
	color: orange;
}

.top .header
{
	float: none;
	padding: 0px;
	line-height: 40px;
	font-size: 2.5em;
	width: 100%;
	height: auto;
	padding-left: 10px;
}

.top .header .logo
{
	height: auto;
}

.top .nav
{
	padding: 0px;
	margin: 0px;
	float: none;
	max-width: 950px;
}

.top .nav ul
{
	float: left;
}

.top .nav ul li
{
	background-color: #eee;
	border-radius: 5px;
	margin-right: 5px;
}

.top .nav ul li a, .top .nav ul li a:hover
{
	color: #1a1a1a;
	text-shadow: 0px 0px;
	text-decoration: none;
}

.top .nav .search
{
}

/* body */
.body
{
}

.intro
{
}

.content
{
}

.content h1
{
}

/* recent posts */
.post-list
{
}

.post-list .post-line
{
	border: 1px solid #fff;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: #fff;
}

.post-list .post-line .revised
{
	border-radius: 3px;
	background: #E4E4E4;
	color: #555;
	width: 76px;
	padding: 2px;
	float: left;
	font-family: "Trebuchet MS" , Sans-Serif;
	height: 50px;
	margin: 5px;
	text-align: center;
}

.post-list .post-line .revised .month
{
}

.post-list .post-line .revised .year
{
}

.post-list .post-line .comments
{
	float: right;
}

.post-list .post-line .comments .comment-count
{
}

.post-list .post-line .comments span
{
}

.post-list .post-line .summary
{
	margin: 0px 5px;
	float:left;
}

.post-list .post-line .summary p
{
	font-size:1.2em;
}

.post-list .post-line .summary h2
{
}

.post-list .post-line .tags
{
	font-size:1.1em;
}

.post-list .post-line .tags .tag
{
}
