body
{
	background: #cdcdcd url(../images/background.png) repeat-x scroll top left;
	font-size: 62.5%;
}

.wrapper
{
	font-size: 1em;
}
/* Header section */
header a
{
	color: #1F9DF6;
	text-shadow: 2px 2px 2px #000;
}

header a:hover
{
	color: orange;
}

header a.logo
{
    float: none;
	padding: 0px;
	line-height: 40px;
	font-size: 2.5em;
	width: 100%;
	height: auto;
	padding-left: 10px;
	height: auto;
}

header > div {
    float: none;
}

header nav
{
	padding: 0px;
	margin: 0px;
	float: none;
	max-width: 950px;
}

header nav ul
{
	float: left;
}

header nav ul li
{
	background-color: #eee;
	border-radius: 5px;
	margin-right: 5px;
}

header nav ul li a, header nav ul li a:hover
{
	color: #1a1a1a;
	text-shadow: 0px 0px;
	text-decoration: none;
    line-height: normal;
}

/* recent posts */
.post-list .post-line
{
	border: 1px solid #fff;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: #fff;
}

.post-list .post-line .revised
{
	border-radius: 3px;
	background: #E4E4E4;
	color: #555;
	width: 76px;
	padding: 2px;
	float: left;
	font-family: "Trebuchet MS" , Sans-Serif;
	height: 50px;
	margin: 5px;
	text-align: center;
}

.post-list .post-line .comments
{
	float: right;
}

.post-list .post-line .summary
{
	margin: 0px 5px;
	float:left;
}

.post-list .post-line .summary p
{
	font-size:1.2em;
}

.post-list .post-line .tags
{
	font-size:1.1em;
}