body
{
    background: #C0DEED url(Background.png) no-repeat 50% 0%;
    font-size: 12pt;
    font-family: Arial;
    color: #222;
}

.body .intro 
{
    background: #fafafa;
}
.body .intro 
{
    float: none;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: rgba(255,255,255,0.6);
    color: #777;
    -moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
    padding: 10px 30px;
}
.body .intro p 
{
    font-weight: normal;
}
p 
{
    line-height: 150%;
    margin-bottom: 20px;
}
.body .content 
{
    padding: 10px 30px;
    border: 1px solid #fff;
    background: #fff;
    margin: 0;
}
.content h1
{
    border-bottom: 1px dotted #6F95D7;
    text-indent: 0;
    margin-top: 15px;
    margin-bottom: 20px;
}
.content h1 a 
{
    color: #6F95D7;
    font-size: 30pt;
    font-weight: normal;
    padding-left: 0;
    margin-left: 0;
}
.content h1 
{
    color: #6F95D7;
    font-size: 30pt;   
    font-weight: normal;
}

.entry-container 
{
    margin-left: 0px;
}
.entry-date 
{
    float: none;
    text-align: right;
    width: auto;
    padding: 0;
    background: none;
    color: #777;
    margin-top: -40px;
    font-family: Arial;
    font-weight: normal;
}
.entry-date span.month 
{
    font-size: 12pt;
    font-weight: normal;
}
.entry-date span.year 
{
    font-size: 12pt;
    font-weight: normal;
}
a
{
	color: #3865C6;
}
a:hover
{
	color: #0489B7;
}

h1, h2, h3, h4, h5, h6
{
	color: #3865C6;
}

/* Header */
header {
    margin-top: 30px;
}
header a.logo
{
    text-shadow: rgba(255, 255, 255, 0.398438) 0px 1px 1px;
    text-indent: 0;
    font-size: 20pt;
    color: #fff;
    width: 300px;
    margin-top: 5px;
}

header nav ul li
{
	color: #32A700;
    text-shadow: rgba(255, 255, 255, 0.398438) 0px 1px 1px;
}

header nav ul li a
{
	color: #fff;
    margin: 0;
    padding: 3px 10px;
    text-decoration: none;
}

/* Introductions */

.intro
{
	background: #FFFFC6;
	border: 1px solid #D0D0D0;
}

.intro h1
{
	color: #32A700;
}
.intro p
{
}

.post-list 
{
    width: auto;
    float: none;
}

.post-line 
{
    background: #e0e0e0 url('Bar.png');
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 0;
    height: auto;
    min-height: 0;
    float: none;
}

.post-line .revised, .post-line .comments
{
	color: #888;
    -moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	margin: 0;
	float: right;
	padding: 14px;
	background: transparent;
	margin-left: 7px;
	color: #999;
	font-family: Trebuchet MS;
	font-weight: bold;
	height: auto;
	vertical-align: middle;
}
.post-line .comments a 
{
	color: #999;
}
.post-line .summary 
{
	background: transparent;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    margin-right: 222px;
}

.post-line .revised .month
{
}

.content h1, .content h2
{
}
.comment
{
	border-bottom: 1px solid #CCCCCC;
	font-size: 12pt;
}
.comment .comment-body 
{
    font-size: 12pt;
}

pre
{
	background: #E0EAF1;
	border: none;
}

.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6
{
	border:0px;
	color: #32A700;
}

.entry-date
{
}

.entry-tools
{
	background: #FFFFC6;
}

.message 
{
		color: #CC0000;
}
.flash 
{
    background: #FCFFCE;
    border: 1px solid #F9DD24;
}
.flash p 
{
    color: #A57100;
    font-weight: bold;
    text-align: center;
    margin: 5px 10px 5px 10px; 
    padding: 0;
}
.empty 
{
    color: #555;
    margin: 20px 0 20px 0;
}
.comment .comment-author 
{
    float: right;
    background: #f0f0f0;
    width: 120px;
    text-align: center;
    margin-top: -10px;
}
.comment .comment-author a
{
    padding: 5px;
}
.comment 
{
    background: #fafafa;
    margin-bottom: 30px;
    border-left: 20px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.comment .comment-body 
{
    margin: 0;
    padding: 0 20px 0 20px;
    margin-right: 130px;
}

.comment .comment-body .comment-date
{
    float: none;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: normal;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

footer, footer a 
{
    border: 0;
    color: #fff;
}