@model IEnumerable<EntrySummary>

@using System.Linq

<h1>Posts tagged with <span class="tagName">@ViewBag.Tag</span></h1>

@if (@Model.Any())
{ 
    @Html.DisplayFor(x => Model)
}
else { 
    <p>Aww snap! That tag isn't being used anyway</p>
}