@model IEnumerable<FunnelWeb.Model.Entry>

@using System.Linq

<h2>Posts tagged with <span class="tagName">@ViewBag.Tag</span></h2>

@if (@Model.Any())
{ 
    @Html.DisplayFor(x => Model)
}
else { 
    <p>Aww snap! That tag isn't being used anyway</p>
}