@model FunnelWeb.Web.Views.Install.UpgradeModel
@{
    ViewBag.Title = "FunnelWeb Installation Report";
  Layout = "~/Views/Shared/_Private.cshtml";
}

<h1>
  FunnelWeb Upgrade Report
</h1>
    
@if (Model.Result.Successful) {
  <p class='good'>
    The upgrade to version @Model.Result.UpgradedVersion completed successfully. Feel free to review the logs below before continuing.
  </p>
} else {
  <p class='bad'>The upgrade failed. Please review the logs below to resolve the issue.</p>
}

<p class='important'>
  @Html.ActionLink("Try again", "Index")
</p>

<h2>Log</h2>
<ol>
  @MvcHtmlString.Create(Model.Log)
</ol>

@if (Model.Result.Successful == false && Model.Result.Error != null) {
  <h2>Exception Details</h2>
  <pre>@MvcHtmlString.Create(Model.Result.Error.ToString())</pre>
}
