@using System.Web.Mvc.Html;
@using FunnelWeb.Web.Areas.Admin.Views.SqlAuthentication
@model AddRoleModel
<h1>
  Sql Authentication Provider Setup</h1>
@using (Html.BeginForm("NewAccount", "SqlAuthentication", FormMethod.Post))
{
  <h2>
    Add User (@Model.User.Name) To Role</h2>
    foreach (var role in Model.Roles)
    {
        @Html.ActionLink(role.Name, "AddUserToRole", new { userId = Model.User.Id, roleId = role.Id }) <br />
    }
    
  <br />
  @Html.ActionLink("Finished", "Index")
}