<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="bin/Extensions"/>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.5.10112" newVersion="2.5.5.10112"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>

	<system.identityModel>
		<identityConfiguration>
			<claimsAuthenticationManager type="FunnelWeb.Authentication.Internal.CustomAuthenticationManager, FunnelWeb, Version=2.3.0.0, Culture=neutral"/>
			<claimsAuthorizationManager type="FunnelWeb.Authentication.Internal.CustomAuthorizationManager, FunnelWeb, Version=2.3.0.0, Culture=neutral"/>
			<audienceUris>
				<add value="http://localhost:54860/" />
			</audienceUris>
			<certificateValidation certificateValidationMode="None" />
			<issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
				<authority name="https://foosomething.accesscontrol.windows.net/">
					<keys>
						<add thumbprint="932CFD57B3EB39E82F9668AD83B31F2E9EC2D0FC" />
					</keys>
					<validIssuers>
						<add name="https://foosomething.accesscontrol.windows.net/" />
					</validIssuers>
				</authority>
			</issuerNameRegistry>
			<securityTokenHandlers>
				<add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</securityTokenHandlers>
		</identityConfiguration>
	</system.identityModel>
</configuration>