<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.4.2.696" />
  <package id="Autofac" version="2.4.5.724" />
  <package id="dbup" version="1.0.44" />
  <package id="NSubstitute" version="1.1.0.0" />
  <package id="Iesi.Collections" version="3.2.0.2001" />
  <package id="NHibernate" version="3.2.0.2001" />
</packages>