@model String

<div id="wmd-button-bar" class="wmd-panel">
</div>

<textarea id="wmd-input" name="@ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)" cols="80" rows="18" class="wmd-panel">@Model</textarea>