@model IEnumerable<Tag>

@{
    Html.RequiresJs("taggy.js", "Scripts", 10);
    Html.RequiresJs("jquery-ui-1.8.19.min.js", "Scripts", 10);
    // can't require jquery.ui.all or jquery.ui.base because CD doesn't like the multiple @import directives
    Html.RequiresCss("jquery.ui.core.css", "Base", 10);
    Html.RequiresCss("jquery.ui.autocomplete.css", "Base", 11);
    Html.RequiresCss("jquery.ui.theme.css", "Base", 20);
}

<div id="tags" class="tagInputContainer field">
    <ul id="selectedTags" class="tagLines">
        @foreach (var tag in Model) { 
            <li class="newTagItem" id="container-@tag.Id"><a><em class="tagName">@tag.Name</em><span class="rm" id="@tag.Id"></span></a></li>
        }  
        <li class="newTagInputWrapper" style="width: 30px">
            <input type="text" id="tagInput" name="agInput" />
            <div id="tmpTagsInput"></div>
        </li>
    </ul>
    <input type="hidden" value="@string.Join(",", Model.Select(x => x.Id))" name="@Html.FieldNameFor(x => Model)-Ids" />
</div>
